<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vincent.demogather" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OtherActivity"/>
        <activity android:name=".activity.TouchEventTestActivity"/>
        <activity android:name=".activity.FrescoLoadImageListActivity"/>
        <activity android:name=".muti_thread.MutiThreadTestMainActivity"/>
        <activity android:name=".muti_thread.SychronizedTestActivity" />
        <activity android:name=".muti_thread.WaitNotifyActivity"/>
        <activity android:name=".activity.RetrofitActivity"/>
        <activity android:name=".diy_view.DiyViewMainActivity"/>
        <activity android:name=".anr.ANRMainActivity"/>
        <activity android:name=".java.JavaMainActivity"/>
        <activity android:name=".muti_thread.ConsumerProducerActivity"/>
        <activity android:name=".hotfix.HotFixActivity"/>
        <activity android:name=".butter_knife.ButterKnifeMainActivity"/>
        <activity android:name=".OpenStructureMainActivity"/>
    </application>

</manifest>
